@charset "UTF-8";

body{
  background-color:#007777;
}
h1{
  font-size:1.75em;
  color:#3399cc;
}
h1 span{
  font-size:1.75em;
  color:#ffffff;
}
#lead{
  font-size:1.25em;
  color:#000000;
  text-align:center;
}
p{
  font-size:1.0em;
  color:#333333;
}
